<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Testing"></Label>
</ActionBar>

<GridLayout rows="auto, auto, *" class="form">
    <!-- Add your page content here -->
   <GridLayout row="0" columns="*, auto" rows="*" backgroundColor="#f0f0f0">
        <TextField col="0" class="-rounded p-12 c-bg-white" hint="{{ hint }}"  [(ngModel)]="text"></TextField>
        <Button col="1" text="Add" (tap)="addText()" class="-primary -simple m-l-0 m-t-0 m-b-0"></Button>
   </GridLayout>

    <ListView [items]="items" class="nt-list-view" row='2' (itemTap)="remove($event)">
        <ng-template let-item="item">
            <Label text="{{ item._id + '-'+ item.name+ ' -  '+ item.n+ '  - '+ item.i }}" class="list-group-item"></Label>
        </ng-template>
    </ListView>

</GridLayout>
